{% block content %}
    <h1>Todo App</h1>
    <div>
        <div>
            <a href = {% url "create-workspace" %}>Create-Workspace</a>
            {% for workspace in workspaces %}
                <div>
                    <a href="{% url 'delete-workspace' workspace.id%}">Delete Workspace</a>
                    <a href=" {% url 'workspace' workspace.id%}"><h1>{{ workspace.name }}</h1></a>
                        <h1>{{ workspace.created }}</h1>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
